.title {
    font-weight: 300;
    margin: 20px 0;
    font-size: 100px;
    color: #ead7d7;
}
.app {
    background-color: white;
    position: relative;
    width: 45%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    max-width: 500px;
}