.checkbox {
  margin-right: 20px;
  width: 2em;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.todo:hover .closeBtn {
  visibility: visible;
}
.closeBtn {
  visibility: hidden;
  background: none;
  border: none;
  color: #b83f45;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  font-weight: 300;
   flex: 1;
}
.todo {
  height: 60px;
  padding: 0 2%;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: space-between
}


.checkbox:checked {
  border: 2px solid grey;
  background-color: #85bb3e;
}

.todo__input{
     border: 1px solid #4D4D4D;
      padding: 0px 5px;
    line-height: 26pt;
    font-size: 18pt;
    color:#4D4D4D
}

.todo__form{
    flex:1
}