.filters {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: initial;
  padding: 10px 0;
}

.filters__title {
  margin-left: 10px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #4d4d4d;
}

.btn:hover {
  border: 1px solid #bfbfbf;
  padding: 7px;
}

.border {
  border: 1px solid #bfbfbf;
  padding: 7px;
}

.count {
  width: 30%;
  text-align: center;
}
.filter__btns {
  max-width: 40%;
}
.delete-complete {
  width: 30%;
}

.checkbox {
  margin-right: 20px;
  width: 2em;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.overlays {
  display: block;
}

.overlay1 {
  border-top: 1px solid #bfbfbf;
}

.overlay {
  background-color: #f6f6f6;
  height: 5px;
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
}
